@import "../base.scss";
@import "../variables.scss";
@import "../breakpoints.scss";
@import "../typography.scss";

// Project Detailed

.project-detailed {
  .intro {
    .flex {
      display: flex;
      align-items: center;
    }
    .second {
      display: flex;
      justify-content: flex-end;
      @include bp-tablet {
        justify-content: initial;
      }
    }
    h1 {
      color: $secondary;
      margin-top: 0px;
    }
    img {
      &.speed {
        width: inherit;
      }
    }
  }
  .back {
    .column {
      display: flex;
      justify-content: center;
    }
  }
}
