@import "../base.scss";
@import "../variables.scss";
@import "../breakpoints.scss";
@import "../typography.scss";

// Hero

.hero {
  padding-top: 180px;
  padding-bottom: 150px;
  @include bp-tablet {
    padding-top: 0px;
    padding-bottom: 50px;
  }
  h1 {
    font-size: 40px;
    line-height: 1.4;
    margin-top: 0px;
    @include bp-tablet {
      font-size: 28px;
    }
  }
  svg {
    font-size: 25px;
    margin-right: 20px;
    color: $primary;
    transition: .2s;
    &:focus, &:hover {
      color: $secondary;
    }
  }
  .second {
    display: flex;
    justify-content: flex-end;
  }
  img {
    width: 350px;
    @include bp-mobile {
      margin: 0 auto;
      display: block;
      margin-top: 30px;
    }
  }
}