@import "../base.scss";
@import "../variables.scss";
@import "../breakpoints.scss";
@import "../typography.scss";

// Hero

.hero {
  padding-top: 100px;
  @include bp-tablet {
    padding-top: 20px;
    padding-bottom: 0px;
  }

  h1 {
    font-size: 50px;
    line-height: 1.4;
    margin-top: 0px;
    margin-bottom: -10px;
    color: $heading;
    @include bp-tablet {
      font-size: 20px;
      line-height: 1.3;
      margin-bottom: 10px;
    }
  }
  p,
  svg {
    color: $body;
  }
  svg {
    font-size: 25px;
    margin-right: 20px;
    transition: 0.2s;
    &:focus,
    &:hover {
      color: $secondary;
    }
  }
  a {
    text-decoration: none;
    font-size: 16px;
    color: $primary;
    &:focus,
    &:hover {
      color: $secondary;
      text-decoration: underline;
    }
    @include bp-mobile-sm {
      font-size: 14px;
    }
  }
  span {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
  }
}
