@import "../variables.scss";
@import "../breakpoints.scss";

// Container

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
  @include bp-tablet {
    padding-left: 10px;
    padding-right: 10px;
  }
  @include bp-mobile {
    display: block;
  }
}
