@import "../variables.scss";
@import "../breakpoints.scss";

// Skills

.skills {
  padding-top: 80px;
  padding-bottom: 80px;
  @include bp-tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container {
    @include bp-mobile {
      display: block;
    }
    .column {
      text-align: center;
      @include bp-mobile {
        text-align: left;
      }
    }
  }
  h2 {
    margin-bottom: 50px;
    text-align: left;
    @include bp-tablet {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  svg {
    color: $primary;
    font-size: 60px;
    margin-bottom: -10px;
    display: block;
    margin: 0 auto;
    @include bp-mobile {
      display: flex;
      margin: initial;
    }
  }
}
