@import "../variables.scss";
@import "../breakpoints.scss";

// Skills

.skills {
  padding-bottom: 80px;
  @include bp-tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  h4 {
    margin-top: 60px;
    @include bp-tablet-sm {
      margin-top: 0px;
    }
  }
  ul {
    margin-top: -10px;
    padding-left: 0px;
    li {
      display: inline-block;
      margin-left: 10px;
      border-right: 1px solid $light-grey;
      padding-right: 10px;

      &:first-child {
        margin-left: 0px;
      }
      &:last-child {
        border-right: none;
      }
      @include bp-mobile {
        display: inherit;
        padding-left: 10px;
        border-right: none;
        border-left: 1px solid $light-grey;
        padding-right: 10px;
        &:first-child {
          margin-left: 10px;
        }
      }
    }
  }
}
