@import "variables";
@import "breakpoints";

h1,h2,h3,h4,h5,h6,p,a,ol,ul {
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
  line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
  color: $heading;
}

p,ol,ul {
  color: $body;
	font-size: 18px;
	line-height: 1.8;
	font-family: 'Merriweather', serif;
}

a {
	transition: .2s;
}

h1 {
	font-size: 40px;
	@include bp-mobile {
		font-size: 32px;
	}
}

h2 {
	font-size: 36px;
	@include bp-mobile {
		font-size: 30px;
	}
}

h3 {
	font-size: 30px;
	@include bp-mobile {
		font-size: 24px;
	}
}

h4 {
	font-size: 24px;
	@include bp-mobile {
		font-size: 18px;
	}
}

h5 {
	font-size: 20px;
	@include bp-mobile {
		font-size: 14px;
	}
}

h6 {
	font-size: 18px;
	@include bp-mobile {
		font-size: 12px;
	}
}