@import "../variables.scss";
@import "../breakpoints.scss";

// Card

.inner {
  padding-top: 150px;
  padding-bottom: 150px;
  @include bp-tablet {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  @include bp-mobile {
    h1 {
      font-size: 22px;
    }
  }
}