@import "../variables.scss";
@import "../breakpoints.scss";

// Footer

footer {
  padding-top: 60px;
  padding-bottom: 80px;
  @include bp-tablet {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .column {
    text-align: center;
  }
  h4,
  p,
  a {
    color: $body;
  }
  svg {
    font-size: 20px !important;
    margin-right: 30px;
    margin-left: 30px;
    &:focus,
    &:hover {
      color: $primary;
    }
  }
}
