// Nav

nav {
  padding-top: 20px;
  padding-bottom: 20px;
  .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  a {
    text-decoration: none;
    &:hover, &:focus {
      color: blue;
    }
  }
  .container {
    .column {
      display: flex;
      justify-content: space-between;
    }
  }
}