@import "../variables.scss";
@import "../breakpoints.scss";

// Nav

.nav-desktop {
  @include bp-tablet {
    display: none;
  }
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba($white, 0.9);
  @media (min-width: 1025px) {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .nav-mobile {
    @media (min-width: 1025px) {
      display: none;
    }
    .hamburger {
      div {
        width: 30px;
        height: 1px;
        background-color: $secondary;
        margin-top: 7px;
      }
    }
  }
  a {
    margin-bottom: 0px !important;
  }
  .right {
    display: flex;
    justify-content: flex-end;
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 2px;
      color: $primary;
      margin-left: 40px;
      &:hover, &:focus {
        color: $secondary;
      }
    }
  }
  .container {
    align-items: center;
    .column {
      display: flex;
    }
  }
}