@import "../variables.scss";
@import "../breakpoints.scss";

// Work

.work {
  background: $grey;
  padding-top: 80px;
  padding-bottom: 80px;
  @include bp-tablet {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .flex {
    display: flex;
  }
  h3 {
    text-transform: none;
    letter-spacing: 0px;
  }
  .two {
    margin-top: 20px;
  }
  .work-row {
    display: flex;
    justify-content: center;
    button {
      &.work-btn {
        margin-top: 60px;
      }
    }
  }
}